<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <!-- Script 2.2 - login.html -->
    <form id="welcomeForm" novalidate>
      <fieldset>
	<legend>
	  <b id="welcome">
	  </b>
	</legend>
	<div>
	  Welcome in Modern-CLJS.
	</div>
	<div id="role">
	</div>
      </fieldset>
    </form>
  </body>
</html>
